.chat-wrapper{
    display : grid;
    height: auto;
    grid-template-columns: 100%;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas: "header"
                         "chatbox"
                         "input";
    padding : 15px;
}

.chat-header{
    grid-area: header;
}
.chat-chatbox{
    grid-area: chatbox;
    border: 1px solid;
    overflow: auto;
}
.chat-input{
    grid-area: input;
}