.grid-container2{
    display:grid;
    text-align: center;
    align-items: center;

    grid-template-columns: 20% 0% 60% 0% 20%;
    grid-template-rows: 10% 85% 5%;
    grid-template-areas: "header header header header header"
                         "log console console console chat"
                         "footer footer footer footer footer";    
}

.grid-header{
    grid-area: header;
    font-size: 50px;
    border-radius: 20px;
    border: 3px solid black;
}
.grid-log{
    grid-area: log;
    margin-right:10px;
    border-radius: 20px;
    border: 3px solid black;
}
.grid-console{
    grid-area: console;
    border-radius: 20px;
    border: 3px solid black;
}


.grid-chat{
    grid-area: chat;
    margin-left: 10px;
    border-radius: 20px;
    border: 3px solid black;
}

.grid-footer{
    border-radius: 20px;
    grid-area: footer;
    border: 3px solid black;
}

.footer-wrapper{
    display : grid;
    grid-template-areas: "rule bgimgsource boardimgsource";
    padding : 1px;
}